<div
  class="alert alert-danger alert-dismissible fade show mt-2"
  role="alert"
  *ngIf="errorMessages.length > 0 && displayErrors"
>
  <strong>We can't give you a loan!</strong>
  <div *ngFor="let errorMessage of errorMessages">
    {{ errorMessage.message }}
  </div>
  <button type="button" class="btn-close" (click)="onCloseErrorMessage()"></button>
</div>
<div
  class="alert alert-success alert-dismissible fade show mt-2"
  role="alert"
  *ngIf="loanConditions.interestRate &&loanConditions.loanAmount && displayLoanConditions"
>
  <strong>We can give you a loan!</strong>
  <div>Rate: {{ loanConditions.interestRate / 1000 }} proc.</div>
  <div>Loan amount: {{ loanConditions.loanAmount / 1000 }} Eur.</div>
  <button type="button" class="btn-close" (click)="onCloseDisplayLoanConditions()"></button>
</div>
<div class="calculator-container">
  <form
    class="mt-2 mb-3 calculator-container__form"
    [formGroup]="calculatorForm"
    (ngSubmit)="onSubmit()"
  >
    <div>
      <label for="income" class="mt-1">Total monthly income (Eur)</label>
      <div class="input-group has-validation">
        <input
          type="number"
          id="income"
          class="form-control"
          formControlName="income"
          [ngClass]="{
            'is-invalid':
              calculatorForm.controls.income.status === 'INVALID' &&
              calculatorForm.controls.income.touched || 
              errorMessages.length === 1 && errorMessages[0].params === 'monthlyIncome' ||
              errorMessages.length === 2 && errorMessages[0].params === 'monthlyIncome' ||
              errorMessages.length === 2 && errorMessages[1].params === 'monthlyIncome' ||
              errorMessages.length === 3 && errorMessages[0].params === 'monthlyIncome' ||
              errorMessages.length === 3 && errorMessages[1].params === 'monthlyIncome' ||
              errorMessages.length === 3 && errorMessages[2].params === 'monthlyIncome' 
          }"
          aria-describedby="incomeFeedback"
        />
        <div id="incomeFeedback" class="invalid-feedback">
          {{ errorMessages.length > 0 ? 'Minimum income is 500 EUR' : requiredFieldMessage }}
        </div>
      </div>
    </div>

    <div>
      <label for="children" class="mt-2">Have a children</label>
      <select id="children" class="form-select" formControlName="children">
        <option value="NONE">None</option>
        <option value="SINGLE">Single</option>
        <option value="MULTIPLE">Multiple</option>
      </select>
    </div>

    <div>
      <label for="coapplicant" class="mt-2">Applying with a co-applicant</label>
      <select
        id="coapplicant"
        class="form-select"
        formControlName="coapplicant"
      >
        <option value="NONE">None</option>
        <option value="SINGLE_BORROWER">Single borrower</option>
        <option value="MULTIPLE_BORROWERS">Multiple borrowers</option>
      </select>
    </div>

    <div>
      <label for="amount" class="mt-2">Loan amount (Eur)</label>
      <div class="input-group has-validation">
        <input
          type="number"
          id="amount"
          class="form-control"
          formControlName="amount"
          [ngClass]="{
            'is-invalid':
              calculatorForm.controls.amount.status === 'INVALID' &&
              calculatorForm.controls.amount.touched ||
              errorMessages.length === 1 && errorMessages[0].params === 'requestedAmount' ||
              errorMessages.length === 2 && errorMessages[0].params === 'requestedAmount' ||
              errorMessages.length === 2 && errorMessages[1].params === 'requestedAmount' ||
              errorMessages.length === 3 && errorMessages[0].params === 'requestedAmount' ||
              errorMessages.length === 3 && errorMessages[1].params === 'requestedAmount' ||
              errorMessages.length === 3 && errorMessages[2].params === 'requestedAmount' 
          }"
          aria-describedby="amountFeedback"
        />
        <div id="amountFeedback" class="invalid-feedback">
          {{ errorMessages.length > 0 ? 'Minimum loan of 20000 available' :  requiredFieldMessage }}
        </div>
      </div>
    </div>

    <div>
      <label for="term" class="mt-2">Loan term (Months)</label>
      <div class="input-group has-validation">
        <input
          type="number"
          id="term"
          class="form-control"
          formControlName="term"
          [ngClass]="{
            'is-invalid':
              calculatorForm.controls.term.status === 'INVALID' &&
              calculatorForm.controls.term.touched ||
              errorMessages.length === 1 && errorMessages[0].params === 'loanTerm' ||
              errorMessages.length === 2 && errorMessages[0].params === 'loanTerm' ||
              errorMessages.length === 2 && errorMessages[1].params === 'loanTerm' ||
              errorMessages.length === 3 && errorMessages[0].params === 'loanTerm' ||
              errorMessages.length === 3 && errorMessages[1].params === 'loanTerm' ||
              errorMessages.length === 3 && errorMessages[2].params === 'loanTerm' 
          }"
          aria-describedby="termFeedback"
        />
        <div id="termFeedback" class="invalid-feedback">
          {{ errorMessages.length > 0 ? 'Minimum term: 36 months' : requiredFieldMessage }}
        </div>
      </div>
    </div>

    <div
      class="
        calculator-container__form-buttons
        d-flex
        justify-content-center
        mt-3
      "
    >
      <button
        [disabled]="isLoading || calculatorForm.status === 'INVALID'"
        type="submit"
        class="
          calculator-container__form-buttons--first-button
          btn btn-primary
          col-5
        "
      >
        Calculate
        <fa-icon [icon]="faCalculator" *ngIf="!isLoading"></fa-icon>
        <span class="spinner-border spinner-border-sm" *ngIf="isLoading"></span>
      </button>
      <button
        [disabled]="isLoading"
        type="reset"
        class="btn btn-secondary col-5"
      >
        Reset
        <fa-icon [icon]="faMinusSquare"></fa-icon>
      </button>
    </div>
  </form>
</div>
